[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
gunicorn = "*"
psycopg2 = "*"
marshmallow = "*"
pybase62 = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
faker = "*"
bandit = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.7"
