[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Script = "*"
Flask-Migrate = "*"
gunicorn = "*"
psycopg2 = "*"
marshmallow = "*"
pybase62 = "*"
flask-caching = "*"
redis = "*"
celery = "*"
segno = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
Faker = "*"
bandit = "*"
isort = "*"

[requires]
python_version = "3.7"
